<div class="calculator">
    <h1>Calculator</h1>
    <input type="text" [value]="currentNumber" class="calculator-screen" disabled><br>
    <div class="calculator-keys">
    <button type="button" class="operator"  (click)="operation('+')" value="+">+</button>
    <button type="button" class="operator"  (click)="operation('-')" value="-">-</button>
    <button type="button" class="operator"  (click)="operation('*')" value="*">&times;</button>
    <button type="button" class="operator"  (click)="operation('/')" value="/">&divide;</button>

    <button type="button" (click)="presskey('7')" value="7">7</button>
    <button type="button" (click)="presskey('8')" value="8">8</button>
    <button type="button" (click)="presskey('9')" value="9">9</button>


    <button type="button" (click)="presskey('4')" value="4">4</button>
    <button type="button" (click)="presskey('5')" value="5">5</button>
    <button type="button" (click)="presskey('6')" value="6">6</button>


    <button type="button" (click)="presskey('1')" value="1">1</button>
    <button type="button" (click)="presskey('2')" value="2">2</button>
    <button type="button" (click)="presskey('3')" value="3">3</button>


    <button type="button"  (click)="presskey('0')" value="0">0</button>
    <button type="button"  (click)="presskey('.')" class="decimal" value=".">.</button>
    <button type="button" class="all-clear" value="all-clear" (click) = "clear()">AC</button>

    <button type="button"  (click)="operation('=')" class="equal-sign" value="=">=</button>
    </div>  
</div>



