<input type="text" [value]="currentNumber" disabled>
<button  (click)="presskey('1')">1</button>
<button  (click)="presskey('2')">2</button>
<button  (click)="presskey('3')">3</button>
<button  (click)="presskey('4')">4</button>
<button  (click)="presskey('5')">5</button>
<button  (click)="presskey('6')">6</button>
<button  (click)="presskey('7')">7</button>
<button  (click)="presskey('8')">8</button>
<button  (click)="presskey('9')">9</button>
<button  (click)="presskey('0')">0</button>
<button  (click)="presskey('.')">.</button>
<button  (click)="operation('+')">+</button>
<button  (click)="operation('-')">-</button>
<button  (click)="operation('*')">*</button>
<button  (click)="operation('/')">/</button>
<button (click)="operation('=')">=</button>


